.button {
    width: 400px;
    margin-top: 20px;
    background-color: '#329291';
}

.card {
    padding: 10px;
    margin-top: 20px;
}
.angry {
    background-color: 'red' !important;
}
.happy {
    background-color: 'green' !important;
}
.sad {
    background-color: '#f44336' !important;
}
